<h1 class="ui header" >
    <i class="chart line icon"></i>
    <div class="content">
        Graphs
        <div class="sub header">View detailed transaction information</div>
    </div>

</h1>
<nav>
    <div class="ui buttons">
        <div class="ui vertical animated button" routerLink=''>
            <div class="visible content">home</div>
            <div class="hidden content">
                <i class="home icon"></i>
            </div>
        </div>
        <div class="ui vertical animated button" routerLink='/transactions'>
            <div class="visible content">transactions</div>
            <div class="hidden content">
                <i class="exchange icon"></i>
            </div>
        </div>
    </div>
</nav>