<h3>Add a transaction</h3>

<form (ngSubmit)='onSubmit(description.value, incomingCategory.value, outgoingCategory.value, month.value, amount.value); description.value=""; '>
    <input type='radio' name='inOrOut' id='in' value='in' (change)='onChangeIncoming()'>
    <label for='in'>In</label>
    <input type='radio' name='inOrOut' id='out' value='out' (change)='onChangeOutgoing()'>
    <label for='out'>Out</label><br>
    <label for="description">Description: </label>
    <input type='text' name='description' id='description' #description>
    <div style='display:inline' [style.visibility]='outgoing? "visible" : "hidden"'>
        <label for='outgoing-category'>Category: </label>
        <select id='outgoing-category' name='outgoingcategory' #outgoingCategory>
            <optgroup label='Essentials'>
                <option *ngFor='let outgoingEssential of outgoingEssentials' [value]='outgoingEssential'>
                    {{outgoingEssential.charAt(0).toUpperCase() + outgoingEssential.slice(1)}}
                </option>
            </optgroup>
            <optgroup label='Extras'>
                <option *ngFor='let outgoingExtra of outgoingExtras' [value]='outgoingExtra'>
                    {{outgoingExtra.charAt(0).toUpperCase() + outgoingExtra.slice(1)}}
                </option>
            </optgroup>
        </select>
    </div>
    <div style='display:inline' [style.visibility]='incoming? "visible" : "hidden" '>
        <label for='incoming-category'>Category: </label>
        <select id='incoming-category' name='ingoing-category'  #incomingCategory >
            <option *ngFor='let oneIncomingOption of incomingOptions' [value]='oneIncomingOption'>
                {{oneIncomingOption.charAt(0).toUpperCase() + oneIncomingOption.slice(1)}}
            </option>
        </select>
    </div>
    <br>
    <label for='amount'>Amount: </label>
    <input type='number' name='amount' id='amount' #amount>
    <div style='display:inline'>
        <label for='month'>Month:</label>
        <select id='month' name='month' #month>
            <option *ngFor='let oneMonth of months' [value]='oneMonth'>{{oneMonth.charAt(0).toUpperCase() + oneMonth.slice(1)}}</option>
        </select>
    </div>
    <input type='submit'>
</form>
