<!-- <h3>
    <i class="dropdown icon"></i>
    Add a transaction
</h3> -->

<form class="ui form" #itemForm='ngForm' (ngSubmit)='onSubmit(description.value, incomingCategory.value, outgoingCategory.value, month.value, amount.value); description.value=""; amount.value=""; month.value="january"; '>
    <div class="inline fields">
        <div class="ui radio checkbox">  
            <input type='radio' name='inOrOut' id='in' value='in' (change)='onChangeIncoming()'>
            <label for='in'>In</label>
        </div>
        <div class="ui radio checkbox">
            <input type='radio' name='inOrOut' id='out' value='out' (change)='onChangeOutgoing()'>
            <label for='out'>Out</label>
        </div>
    </div>
    <div class="two fields">
        <div style='display:inline' [style.visibility]='outgoing? "visible" : "hidden"'>
            <label for='outgoing-category'>Category: </label>
            <select id='outgoing-category' name='outgoingcategory' #outgoingCategory>
                <optgroup label='Essentials'>
                    <option *ngFor='let outgoingEssential of outgoingEssentials' [value]='outgoingEssential'>
                        {{outgoingEssential.charAt(0).toUpperCase() + outgoingEssential.slice(1)}}
                    </option>
                </optgroup>
                <optgroup label='Extras'>
                    <option *ngFor='let outgoingExtra of outgoingExtras' [value]='outgoingExtra'>
                        {{outgoingExtra.charAt(0).toUpperCase() + outgoingExtra.slice(1)}}
                    </option>
                </optgroup>
            </select>
        </div>
        <div style='display:inline' [style.visibility]='incoming? "visible" : "hidden" '>
            <label for='incoming-category'>Category: </label>
            <select id='incoming-category' name='ingoing-category'  #incomingCategory >
                <option *ngFor='let oneIncomingOption of incomingOptions' [value]='oneIncomingOption'>
                    {{oneIncomingOption.charAt(0).toUpperCase() + oneIncomingOption.slice(1)}}
                </option>
            </select>
        </div>
    </div>
    <div class="fields">
        <div class=" six wide field">
            <label for="description">Description: </label>
            <input type='text' name='description' placeholder="Description" id='description' ngModel required #description>
        </div>
        <div class="field">
            <label for='amount'>Amount: </label>
            <input type='number' name='amount' placeholder="Amount" id='amount' ngModel required #amount>
        </div>
        <div class="field" >
            <label for='month'>Month:</label>
            <select id='month' name='month' class="ui search dropdown" #month>
                <option *ngFor='let oneMonth of months' [value]='oneMonth'>{{oneMonth.charAt(0).toUpperCase() + oneMonth.slice(1)}}</option>
            </select>
        </div>
    </div>
    <input class="ui button" type='submit' [disabled]='itemForm.form.invalid'>
</form>
